
li {
  width: 150px;
}

#header {
  padding-top: 3%;
  padding-left: 10%;
  margin-bottom: 15%;
}

p {
  margin-bottom: 6rem;
}

#navigation {
  float: right;
  padding-right: 13%;
}

a {
  text-decoration: none;
  color: black;
}

a.menu-button {
  padding-left: 20px;
}

#submit-form {
  padding-left: 33%;
}

.full-images {
  padding-bottom: 30px;
}

.full-image {
  padding-bottom: 40px;
}
