.container {
  margin-top: 15%;
}

li {
  width: 150px;
}

#header {
  padding-top: 3%;
  padding-left: 10%;
}

#logo {

}

#navigation {
  float: right;
  padding-right: 13%;
}

a {
  text-decoration: none;
  color: black;
}

a.menu-button {
  padding-left: 20px;
}
